$color-primary    = #848f99
$color-secondary  = #e0e6e8
$color-background = #edf1f2
$color-highlight  = #32c1ff

$color-white      = #ffffff
$color-black      = #000000;
$color-gradient   = linear-gradient(to top right, #ff5263 0%, #ff7381 35%, #fcbd01 100%)

$border = 1px solid $color-secondary

$space-base = pxToRem(10px)
$space-p    = $space-base / 2
$space-m    = $space-base * 2
$space-g    = $space-base * 3
$space-gg   = $space-base * 4
