html, body {
  font-family: sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;

  background-image: url("Yosemite4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  font-size: 14px;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 42px;

  background-color: #ffffff;

  border-bottom: 1px solid #e0e6e8;
  color: #848f99;
}

.topbar-left
.topbar-center,
.topbar-right {
  display: flex;
  align-items: center;
}

.topbar-right {
  margin-right: 20px;
}

button {
  background-color: transparent;
  border: 0;

  font-size: inherit;

  cursor: pointer;
}

.button-hamburger {
  height: 42px;
  width: 42px;

  border-right: 1px solid #e0e6e8;

  fill: #848f99!important;
}

.button-hamburger:hover {
  background-color: #edf1f2;
}

.box-button-plus {
  display: inline-block;
}

.box-search {
  position: relative;
  fill: #848f99;
}

.box-search svg {
  position: absolute;
  left: 10px;
  top: 7px;
}

.box-search input {
  padding-left: 30px;
}

.button-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;

  background: linear-gradient(to top right, #ff5263 0%, #ff7381 35%, #fcbd01 100%);
  border-radius: 50%;

  text-align: center;

  fill: #ffffff!important;
}

.button-help {
  display: flex;
  align-items: center;

  fill: #848f99;
}

.icon {
  height: 16px;
  width: 16px;
}

.icon-check {
  display: inline-block;

  height: 30px;
  width: 30px;
  margin-right: 10px;
  padding: 5px;

  border: 1px solid #d5dce0;
  border-radius: 50%;

  text-align: center;
  fill: #d5dce0;
}

.icon-arrow-down {
  margin-left: 5px;
}

.icn-circle {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  width: 30px;
  height: 30px;

  border: 1px solid #d5dce0;
  border-radius: 50%;
}

.icn-circle.dashed {
  border-style: dashed;
}

.search {
  height: 30px;
  width: 500px;
  padding-bottom: 5px;
  padding-top: 5px;

  border: 1px solid #d5dce0;
  border-radius: 15px;
}

img {
  width: 30px;
  height: 30px;

  border-radius: 50%;

  vertical-align: middle;
}

a {
  margin: 0 15px;

  color: inherit;
  text-decoration: none;

  cursor: pointer;
}

button:hover,
a:hover {
  color: #32c1ff;
  fill: #32c1ff;
}


.page-header {
  display: flex;
  justify-content: center;

  width: 100%;
  margin-bottom: 15px;
  padding: 15px 0 30px;

  background-color: #ffffff;

  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title img {
  margin-right: 10px;
}

h1 {
  font-size: 24px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: calc(100vh - 132px);
  padding: 0 15px;
}

section {
  width: 1000px;

  background-color: #fff;

  border-radius: 5px 5px 0 0;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.15);
}

section header {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 20px;
}

section footer {
  display: flex;
  flex-direction: row;

  margin-top: auto;
  padding: 10px 30px;

  border-top: 1px solid #e0e6e8;
  background-color: #f6f8f9;
}

section footer img {
  margin-right: 10px;
}

section footer textarea {
  border: 1px solid #e0e6e8;
}

section input,
section textarea {
  border: 0;
  resize: none;
}

section textarea {
  width: 100%;
}

.box-tasks header {
  justify-content: space-between;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15)
}

.box-tasks .icon-check {
  transform: scale(0.8);
}

.task-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 700px;
  margin-left: 15px;
}

.task-detail header {
  position: relative;
  border-bottom: 1px solid #d5dce0;
}

.task-detail-informations {
  width: 90%;
  margin: 0 auto;
}

.task-detail-title {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 42px;

  margin: 50px 0 10px;
}

.task-detail-title .icon-check {
  position: absolute;
  top: 5px;
  left: 10px;
}


.task-detail-description {
  display: flex;
  justify-content: flex-end;
}

.task-detail-title input,
.task-detail-description textarea {
  border: 1px solid transparent;
  border-radius: 3px;
}

.task-detail-title input {
  width: 100%;
  padding-left: 50px;

  font-size: 24px;
  font-weight: bolder;
}

.task-detail-description textarea {
  width: 92%;
}

.task-detail-title input:hover,
.task-detail-description textarea:hover {
  border-color: #e0e6e8;
}
textarea:focus,
input:focus {
  border-color: #9ca6af!important;
}

button:not(:first-of-type) {
  margin-left: 5px;
}

#closeTask {
  position: absolute;
  top: 10px;
  right: 10px;
}

.assign-person {
  min-width: 150px;
  margin-right: 10px;
}

.assign-duodate {
  margin-right: 20px;
}

section ul {
  width: 100%;
}

section li {
  display: block;
}

section li:hover {
  background-color: #edf8ff;
}

section li span {
  display: flex;
  align-items: center;
  height: 40px;
  width: 95%;
  margin: 0 auto;
  border-bottom: 1px solid #e0e6e8;
}
.button-primary {
  padding: 0 10px;

  background: #fff;

  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #14aaf5;

  color: #14aaf5;
  line-height: 30px;
}

input,
textarea {
  padding: 10px;

  font-size: 14px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #848f99;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #848f99;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #848f99;
}
:-moz-placeholder { /* Firefox 18- */
  color: #848f99;
}
