svg
  height pxToRem(16px)
  width pxToRem(16px)

.icon
  &.check
    display inline-block

    height pxToRem(30px)
    width pxToRem(30px)
    margin-right $space-base
    padding $space-p

    border 1px solid #d5dce0
    border-radius 50%

    text-align center
    fill #d5dce0

  &.arrow-down
    margin-left $space-p

  &.circle
    border 1px solid #d5dce0
    border-radius 50%

  &.dashed
    border-style dashed
